<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body data-scroll="true" class="data-[scroll=false]:overflow-hidden">
    <main class="min-h-screen bg-slate-100 dark:bg-main px-5">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5 min-h-screen py-5">
            <div class="flex flex-col justify-between gap-5">
                <a href='{{ site.BaseURL }}' class="w-3/4 sm:w-64 block">
                    <img src='{{ site.Params.light_logo | relURL }}' alt="" class="dark:hidden size-full">
                    <img src='{{ site.Params.dark_logo | relURL }}' alt="" class="hidden dark:block size-full">
                </a>
                <div class="px-5 sm:max-w-lg mx-auto flex flex-col justify-center items-center gap-5">
                    <div class="space-y-3">
                        <h1 class="text-2xl font-semibold font-poppins text-slate-900 dark:text-slate-100">Forgot Your Password?</h1>
                        <p class="text-slate-800 dark:text-slate-300 text-base font-poppins">Enter email to reset your password.</p>
                    </div>
                    <form id="forgot-password" action="" class="space-y-3 w-full">
                        <div>
                            <label for="email" class="text-sm font-poppins text-slate-800 dark:text-slate-300 block mb-2">Email address</label>
                            <input type="email" required name="email" id="email" placeholder="Enter your email address" class="rounded-lg bg-blue text-slate-300 font-poppins p-2 focus:outline-none w-full">
                        </div>
                        <button class="w-full rounded-full py-2 bg-style font-poppins font-medium text-sm flex gap-2 items-center justify-center scale-105 transition-all">
                            Reset Password
                            <img src='{{ "images/dev/right-arrow-dark.svg" | relURL }}' alt="" class="size-3">
                        </button>
                    </form>
                </div>
                <div class="flex flex-wrap justify-between items-center gap-3">
                    {{ with .Site.Params.copyright }}
                    <p class="text-sm font-poppins text-slate-950 dark:text-slate-400">
                        {{ . }}
                    </p>
                    {{ end }}
                    <div class="flex flex-wrap gap-2">
                        {{ with .Site.Params.github }}
                        <a
                        href="{{ . | safeURL }}"
                        class="p-2 bg-slate-700 rounded-full hover:scale-105 transition-transform flex justify-center items-center"
                        >
                        <img src='{{ "images/dev/github-icon.svg" | relURL }}' alt="" />
                        </a>
                        {{ end }}
                        {{ with .Site.Params.twitter }}
                        <a
                        href="{{ . | safeURL }}"
                        class="p-2 bg-slate-700 rounded-full hover:scale-105 transition-transform flex justify-center items-center"
                        >
                        <img src='{{ "images/dev/twitter-icon.svg" | relURL }}' alt="" />
                        </a>
                        {{ end }}
                        {{ with .Site.Params.linkedin }}
                        <a
                        href="{{ . | safeURL }}"
                        class="p-2 bg-slate-700 rounded-full hover:scale-105 transition-transform flex justify-center items-center"
                        >
                        <img src='{{ "images/dev/linkedin-icon.svg" | relURL }}' alt="" />
                        </a>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="rounded-lg bg-blue relative w-full overflow-hidden flex justify-center items-center px-10">
                {{ $dark_doted := "images/dev/dark_doted_layer.png" | relURL }}
                {{ $gradient := "images/dev/gradient.png" | relURL }}
                <img src="{{ $gradient }}" class="size-full inset-0 absolute">
                <div
                    style="background-image: url('{{ $dark_doted }}');"
                    class="w-3/4 h-full left-1/2 -translate-x-1/2 bg-no-repeat bg-top-center bg-cover absolute">
                </div>
                <div class="space-y-5 relative z-10 swiper auth-swiper my-5">
                    <div class="sm:max-w-[569px] mx-auto">
                        <img src='{{ "images/pricing-cards.png" | relURL }}' alt="" class="size-full object-cover">
                    </div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="text-center sm:max-w-md mx-auto space-y-3">
                                <h3 class="font-inter font-semibold text-2xl text-white">Get direct Access to Our Exploit Intelligence</h3>
                                <p class="font-poppins text-base text-slate-300">Unlock unlimited search across our enriched CVE catalog, including real-time context and risk data you won’t find anywhere else.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="text-center sm:max-w-md mx-auto space-y-3">
                                <h3 class="font-inter font-semibold text-2xl text-white">Get direct Access to Our Exploit Intelligence</h3>
                                <p class="font-poppins text-base text-slate-300">Unlock unlimited search across our enriched CVE catalog, including real-time context and risk data you won’t find anywhere else.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="text-center sm:max-w-md mx-auto space-y-3">
                                <h3 class="font-inter font-semibold text-2xl text-white">Get direct Access to Our Exploit Intelligence</h3>
                                <p class="font-poppins text-base text-slate-300">Unlock unlimited search across our enriched CVE catalog, including real-time context and risk data you won’t find anywhere else.</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-between sm:max-w-xs text-slate-300 mx-auto">
                        <button class="prev">
                            <svg class="fill-current size-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/>
                            </svg>
                        </button>
                        <div>
                            <span class="auth-pagination"></span>
                        </div>
                        <button class="next">
                            <svg class="fill-current size-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="forget-message" class="w-11/12 max-w-sm rounded-lg left-1/2 -translate-x-1/2 z-50 p-1 bg-black dark:bg-white text-white dark:text-black font-poppins text-lg text-center flex justify-center items-center fixed bottom-5 translate-y-40 transition-transform"></div>
    </main>
    {{ partial "js.html" . }}
  </body>
</html>
