{{ define "main" }}
<section class="bg-slate-100 dark:bg-main">
    <div class="relative">
        <div class="absolute w-full h-full">
          <div style="mask-image: url('{{ "images/dev/dark_shadow.png" | relURL }}')"
            class="w-full h-full bg-no-repeat bg-top-center absolute bg-slate-100 dark:bg-main"></div>
          {{ $dark_doted := "images/dev/dark_doted_layer.png" | relURL }}
          <div style="background-image: radial-gradient(at top, transparent 0%, #05101a 80%, #05101a 100%), url('{{ $dark_doted }}');"
            class="w-3/4 h-full left-1/2 -translate-x-1/2 bg-no-repeat bg-top-center absolute hidden dark:block">
          </div>
          {{ $light_doted := "images/dev/light_doted_layer.png" | relURL }}
          <div style="background-image: radial-gradient(at top, transparent 0%, #f1f5f9 80%, #f1f5f9 100%), url('{{ $light_doted }}');"
            class="w-3/4 h-full left-1/2 -translate-x-1/2 bg-no-repeat bg-top-center absolute dark:hidden">
          </div>
          <div class="relative z-10 container mx-auto">
            {{ partial "header_smoke.html" . }}
          </div>
        </div>

        <div class="container mx-auto px-5 sm:px-10 lg:px-16 relative z-10 lg:pt-20">
            <div class="py-20 {{ if .Params.subtitle }}space-y-5{{ end }}">
                <h1
                    class="font-poppins font-bold text-center text-3xl lg:text-5xl text-slate-950 dark:text-white main-heading break-words">
                    {{ .Title | safeHTML }}
                </h1>
                <h5 class="font-poppins text-center text-xl text-slate-900 font-semibold dark:font-normal dark:text-style">{{ .Params.subtitle | safeHTML }}</h5>
            </div>
            <div class="pb-20 prose font-poppins prose-slate dark:prose-invert min-w-full bg-gradient-to-b from-transparent to-slate-100 dark:to-main">
                {{ .Content }}
            </div>
        </div>
    </div>
</section>
<div 
    class="-mt-10 sm:-mt-20 relative z-20 bg-slate-100 dark:bg-main overflow-x-hidden">
    <img src='{{ "images/dev/bottom_layer.png" | relURL }}' alt="" class="container mx-auto w-full animated-img">
</div>
{{ end }}