{{- $page := .page -}}
{{- $link := .link -}}
{{- $title := .title -}}
{{- $icon := .icon -}}
{{- $subtitle := .subtitle -}}
{{- $image := .image -}}
{{- $width := .width -}}
{{- $height := .height -}}
{{- $imageStyle := .imageStyle -}}
{{- $tag := .tag -}}
{{- $tagType := .tagType -}}

{{- $external := strings.HasPrefix $link "http" -}}
{{- $href := cond (strings.HasPrefix $link "/") ($link | relURL) $link -}}


<a
  class="hextra-card group rounded-3xl p-5 sm:p-10 bg-white dark:bg-blue border border-slate-300 dark:border-slate-700 relative overflow-hidden animated"
  {{- if $link -}}
    href="{{ $href }}"
    {{ with $external }}target="_blank" rel="noreferrer"{{ end -}}
  {{- end -}}
>
  <div style="background-image: url('{{ "images/dev/dark_box_lines.png" | relURL }}');"
    class="w-full h-full absolute top-0 left-0 z-0 hidden dark:block"></div>
  <div style="background-image: url('{{ "images/dev/light_box_lines.png" | relURL }}');"
    class="w-full h-full absolute top-0 left-0 z-0 dark:hidden"></div>
  <div class="relative z-10">
    {{- with $image -}}
      <img
        alt="{{ $title }}"
        class="hextra-card-image"
        loading="lazy"
        decoding="async"
        src="{{ $image | safeURL }}"
        {{ with $width }}width="{{ . }}"{{ end }}
        {{ with $height }}height="{{ . }}"{{ end }}
        {{ with $imageStyle }}style="{{ . | safeCSS }}"{{ end }}
      />
    {{- end -}}
  
    {{- with $title -}}
    <h3 class="text-black dark:text-white font-poppins font-semibold text-[26px]">{{ $title | safeHTML }}</h3>
    {{- end -}}
  
    {{- with $subtitle -}}
      <div class="text-slate-700 dark:text-slate-300 font-poppins text-lg my-2">{{- $subtitle | safeHTML -}}</div>
    {{- end -}}
  </div>
</a>
{{- /* Strip trailing newline. */ -}}