<footer class="pt-10 bg-white dark:bg-blue relative overflow-hidden z-30">
  <img
    src='{{ "images/dev/dark_footer_layer.png" | relURL }}'
    alt=""
    class="absolute right-0 top-0 opacity-90 z-0 hidden dark:block"
  />
  <img
    src='{{ "images/dev/light_footer_layer.png" | relURL }}'
    alt=""
    class="absolute right-0 top-0 opacity-90 z-0 dark:hidden"
  />
  <div
    class="container mx-auto px-5 sm:px-10 lg:px-8 divide-slate-300 dark:divide-slate-700 divide-y"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-5 gap-x-[50px] pt-16 pb-7 relative z-20">
      <div>
        <div class="flex flex-col gap-y-5">
          <a href="">
            <img
              src='{{ .Site.Params.dark_logo | relURL }}'
              alt=""
              class="max-w-[17rem] h-6 sm:h-9 md:max-w-full hidden dark:block"
            />
          </a>
          <a href="">
            <img
              src='{{ .Site.Params.light_logo | relURL }}'
              alt=""
              class="max-w-[17rem] h-6 sm:h-9 md:max-w-full dark:hidden"
            />
          </a>
          {{ with .Site.Params.newsletter }}
          {{ if .enable }}
          <p class="font-poppins text-[16px] leading-[26px] text-slate-950 dark:text-slate-400">
            VulneraWise: Intelligence for tomorrow’s threats
          </p>
          <div
            class="rounded-full p-[.37rem] flex justify-between bg-slate-200 dark:bg-slate-800 max-w-[17rem] md:max-w-[18rem]"
          >
            <input
              type="text"
              placeholder="Your Email"
              class="bg-transparent font-poppins text-[#697586] pl-3 focus:outline-none w-[88%]"
            />
            <button class="p-2 bg-style rounded-full" aria-label="Send">
              <img src='{{ "images/dev/send-icon.svg" | relURL }}' alt="" />
            </button>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div>
        <ul class="flex flex-col gap-y-[17px]">
          {{ range site.Menus.footer }}
          <li>
            <a
              href="{{ .URL | absURL }}"
              class="font-poppins text-slate-900 hover:text-black dark:text-slate-400 dark:hover:text-slate-500 transition-colors"
              >{{ .Name }}</a
            >
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="flex flex-col gap-y-5">
        {{ with site.Menus.solutions }}
        <ul class="flex flex-col gap-y-5">
          <span class="text-black dark:text-style font-poppins text-lg font-semibold dark:font-medium"
            >Solutions</span
          >
          {{ range site.Menus.solutions }}
          <li>
            <a
              href="{{ .URL | absURL }}"
              class="font-poppins text-slate-900 hover:text-black dark:text-slate-400 dark:hover:text-slate-500 transition-colors"
              >{{ .Name }}</a
            >
          </li>
          {{ end }}
        </ul>
        {{ end }} {{ with site.Menus.resources }}
        <ul class="flex flex-col gap-y-5">
          <span class="text-black dark:text-style font-poppins text-lg font-semibold dark:font-medium "
            >Resources</span
          >
          {{ range site.Menus.resources }}
          <li>
            <a
              href="{{ .URL | absURL }}"
              class="font-poppins text-slate-900 hover:text-black dark:text-slate-400 dark:hover:text-slate-500 transition-colors"
              >{{ .Name }}</a
            >
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
    <div class="pb-8 pt-7 flex flex-wrap justify-between items-center gap-3">
      {{ with .Site.Params.copyright }}
      <p class="text-[16px] font-poppins text-slate-950 dark:text-slate-400 leading-6">
        {{ . }}
      </p>
      {{ end }}
      <div class="flex flex-wrap gap-2 z-20">
        {{ with .Site.Params.github }}
        <a
          href="{{ . | safeURL }}"
          class="size-10 bg-slate-700 rounded-full hover:scale-105 transition-transform flex justify-center items-center"
        >
          <img src='{{ "images/dev/github-icon.svg" | relURL }}' alt=""/>
        </a>
        {{ end }}
        {{ with .Site.Params.twitter }}
        <a
          href="{{ . | safeURL }}"
          class="size-10 bg-slate-700 rounded-full hover:scale-105 transition-transform flex justify-center items-center"
        >
          <img src='{{ "images/dev/twitter-icon.svg" | relURL }}' alt="" />
        </a>
        {{ end }}
        {{ with .Site.Params.linkedin }}
        <a
          href="{{ . | safeURL }}"
          class="size-10 bg-slate-700 rounded-full hover:scale-105 transition-transform flex justify-center items-center"
        >
          <img src='{{ "images/dev/linkedin-icon.svg" | relURL }}' alt="" />
        </a>
        {{ end }}
        {{ with .Site.Params.footer_cta_button }}
        <div
          class="rounded-3xl font-medium text-sm px-5 py-2 bg-style">
          <a href="{{ .url | relURL }}"
            class="text-black font-medium text-sm font-poppins">
            <span class="flex justify-center items-center gap-2">
              {{ .label }}
              <img src='{{ "images/dev/right-arrow-dark.svg" | relURL  }}' alt="">
            </span>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
