<svg class="moving-svg h-[150%] -ml-20 w-full sm:h-full sm:m-auto" viewBox="0 0 1440 251" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_177_8221)">
        <mask id="mask0_177_8221" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="1440"
            height="251">
            <path d="M0 0H1440V251H0V0Z" fill="white" />
        </mask>
        <g mask="url(#mask0_177_8221)">
            <g opacity="0.5">
                <g class="animated-path-1" filter="url(#filter0_f_177_8221)">
                    <path
                        d="M1277.49 -85.4651C1277.49 -4.55606 1054 61.0339 778.305 61.0339C502.615 61.0339 279.124 -4.55606 279.124 -85.4661C279.124 -133.626 263.881 -179.19 464.457 -202.043C549.957 -211.785 673.51 -150.325 785.098 -150.325C915.731 -150.325 1025 -215.953 1111.09 -202.043C1206.69 -186.598 1277.49 -128.037 1277.49 -85.4651Z"
                        fill="url(#paint0_linear_177_8221)" />
                </g>
                <g class="animated-path-2" filter="url(#filter1_f_177_8221)">
                    <path
                        d="M1132.06 -105.549C1132.06 -26.9961 915.074 36.6829 647.414 36.6829C379.753 36.6829 162.771 -26.9971 162.771 -105.549C162.771 -152.307 147.972 -196.544 342.706 -218.731C425.716 -228.189 549.032 -183.984 657.37 -183.984C784.198 -183.984 886.923 -232.236 970.509 -218.731C1063.32 -203.736 1132.06 -146.88 1132.06 -105.549Z"
                        fill="#ADCFD8" />
                </g>
                <g class="animated-path-1" opacity="0.7" filter="url(#filter2_f_177_8221)">
                    <path
                        d="M1132.06 -105.549C1132.06 -26.9972 915.074 36.6828 647.413 36.6828C379.753 36.6828 162.771 -26.9972 162.771 -105.549C162.771 -152.307 147.972 -196.544 342.706 -218.732C425.716 -228.19 549.705 -172.554 658.042 -172.554C784.871 -172.554 886.923 -232.236 970.508 -218.732C1063.32 -203.736 1132.06 -146.88 1132.06 -105.549Z"
                        fill="#ADCFD8" />
                </g>
                <g class="animated-path-2" filter="url(#filter3_f_177_8221)">
                    <path
                        d="M1132.06 -105.549C1132.06 -26.9962 915.074 36.6828 647.413 36.6828C379.753 36.6828 162.771 -26.9972 162.771 -105.549C162.771 -152.307 147.972 -196.544 342.706 -218.731C425.716 -228.189 545.67 -168.52 654.008 -168.52C780.836 -168.52 886.923 -232.236 970.508 -218.731C1063.32 -203.736 1132.06 -146.88 1132.06 -105.549Z"
                        fill="url(#paint1_linear_177_8221)" />
                </g>
                <g class="animated-path-3" filter="url(#filter4_f_177_8221)">
                    <path
                        d="M959.344 -56.1822C959.344 0.23085 803.517 45.9628 611.295 45.9628C419.073 45.9628 263.246 0.23085 263.246 -56.1822C263.246 -112.595 419.073 -158.327 611.295 -158.327C716.901 -158.327 856.769 -155.438 920.599 -133.644C972.952 -115.768 959.344 -81.6021 959.344 -56.1822Z"
                        fill="#181C1F" />
                </g>
            </g>
        </g>
    </g>
    <defs>
        <filter id="filter0_f_177_8221" x="145.637" y="-337.201" width="1265.08" height="531.456"
            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="66.611" result="effect1_foregroundBlur_177_8221" />
        </filter>
        <filter id="filter1_f_177_8221" x="142.327" y="-241.302" width="1009.92" height="298.171"
            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="10.093" result="effect1_foregroundBlur_177_8221" />
        </filter>
        <filter id="filter2_f_177_8221" x="81.7734" y="-301.461" width="1131.03" height="418.884"
            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="40.37" result="effect1_foregroundBlur_177_8221" />
        </filter>
        <filter id="filter3_f_177_8221" x="29.2914" y="-353.832" width="1235.99" height="523.737"
            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="66.611" result="effect1_foregroundBlur_177_8221" />
        </filter>
        <filter id="filter4_f_177_8221" x="162.32" y="-259.253" width="899.542" height="406.142"
            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="50.463" result="effect1_foregroundBlur_177_8221" />
        </filter>
        <linearGradient id="paint0_linear_177_8221" x1="778.173" y1="-206.01" x2="779.07" y2="-101.926"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#F4E28D" />
            <stop offset="0.24" stop-color="#F4E28D" />
            <stop offset="0.734" stop-color="#F4E28D" />
            <stop offset="1" stop-color="#F4E28D" />
        </linearGradient>
        <linearGradient id="paint1_linear_177_8221" x1="647.284" y1="-222.583" x2="648.156" y2="-121.53"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#D2F6FF" />
            <stop offset="0.24" stop-color="#ADCFD8" />
            <stop offset="0.734" stop-color="#4B8396" />
            <stop offset="1" stop-color="#1C6983" />
        </linearGradient>
        <clipPath id="clip0_177_8221">
            <rect width="1440" height="251" fill="white" />
        </clipPath>
    </defs>
</svg>

<style>
    .animated-path-1 {
        animation: moved 5s linear infinite;
    }

    .animated-path-2 {
        animation: ret 5s alternate infinite;
    }

    .animated-path-3 {
        animation: moved 3s reverse infinite;
    }

    @keyframes moved {
        0% {
            transform: translateY(-5%);
            transform: translateX(-5%);
        }
        50% {
            transform: translateY(15%);
            transform: translateX(5%);
        }
        100% {
            transform: translateY(-5%);
            transform: translateX(-5%);
        }
    }

    @keyframes ret {
        0% {
            transform: translateX(-5%);
            transform: translateY(-5%);
        }
        50% {
            transform: translateX(15%);
            transform: translateY(5%);
        }
        100% {
            transform: translateX(-5%);
            transform: translateY(-5%);
        }
    }
</style>