{{ define "main" }}
{{/* hero section */}}
<section class="h-full w-full bg-slate-100 dark:bg-main">
    <div class="py-20 relative flex justify-center items-center">
        <div class="absolute w-full h-full">
            <div style="mask-image: url('{{ "images/dev/dark_shadow.png" | relURL }}')"
                class="w-full h-full bg-no-repeat bg-top-center absolute bg-slate-100 dark:bg-main"></div>
            {{ $dark_doted := "images/dev/dark_doted_layer.png" | relURL }}
            <div style="background-image: radial-gradient(at top, transparent 0%, #05101a 70%, #05101a 70%), url('{{ $dark_doted }}');"
                class="w-full h-full left-1/2 -translate-x-1/2 bg-no-repeat bg-top-center absolute hidden dark:block">
            </div>
            {{ $light_doted := "images/dev/light_doted_layer.png" | relURL }}
            <div style="background-image: radial-gradient(at top, transparent 0%, #f1f5f9 70%, #f1f5f9 70%), url('{{ $light_doted }}');"
                class="w-full h-full left-1/2 -translate-x-1/2 bg-no-repeat bg-top-center absolute dark:hidden">
            </div>
            <div class="relative z-10 container mx-auto">
                {{ partial "header_smoke.html" . }}
            </div>
        </div>
        <div class="container mx-auto mt-20 px-5 sm:px-10 lg:px-16">
            <div class="lg:max-w-4xl space-y-5 text-center mx-auto" data-aos="zoom-in">
                {{ with .Params.hero_section }}
                {{ if .enable }}
                <h1 class="font-poppins font-bold text-5xl sm:text-[56px] main-heading h-16">{{ .title | safeHTML }}
                </h1>
                <p class="font-poppins text-lg text-slate-700 dark:text-slate-300">{{ .details | safeHTML }}</p>
                {{ end }}
                {{ end }}
            </div>
            {{ with .Params.our_values }}
            {{ if .enable }}
            <style>
                #valueCards:hover > .card::after {
                  opacity: 1;
                }
                
                #valueCards > .card:hover::before {
                  opacity: 1;
                }
                
                #valueCards > .card::before,
                #valueCards > .card::after {
                  border-radius: inherit;
                  content: "";
                  height: 100%;
                  left: 0px;
                  opacity: 0;
                  position: absolute;
                  top: 0px;
                  transition: opacity 500ms;
                  width: 100%;
                }
                
                #valueCards > .card::before {
                  background: radial-gradient(
                    800px circle at var(--mouse-x) var(--mouse-y), 
                    rgba(255, 255, 255, 0.06),
                    transparent 20%
                  );
                  z-index: 3;
                }
                
                #valueCards > .card::after {  
                  background: radial-gradient(
                    600px circle at var(--mouse-x) var(--mouse-y), 
                    rgba(35, 118, 221, 0.4),
                    rgba(255, 207, 113, 0.4),
                    transparent 40%
                  );
                  z-index: 1;
                }
                
                #valueCards > .card > .card-content {
                  border-radius: inherit;
                  display: flex;
                  flex-direction: column;
                  flex-grow: 1;
                  inset: 1px;
                  padding: 10px;
                  position: absolute;
                  z-index: 2;
                }
            </style>
            <div class="mt-20" data-aos="zoom-in">
                <h3 class="font-poppins font-medium text-[32px] text-black dark:text-white leading-[130%] mb-7">Our Values</h3>
                <div id="valueCards" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 place-content-between">
                    {{ range .boxes }}
                    <div
                        class="rounded-3xl relative overflow-hidden card h-[600px] lg:h-[400px]">
                        <div class="card-content bg-blue">
                            <div style="background-image: url('{{ "images/dev/dark_box_lines.png" | relURL }}');"
                                class="w-full h-full absolute top-0 left-0 z-0"></div>
                            <div class="flex flex-col gap-y-[34px] z-30 relative px-[40.59px] py-1">
                                <div class="size-[128px]">
                                    <img src='{{ .icon | relURL }}' alt="" class="size-full object-contain">
                                </div>
                                <div class="flex flex-col gap-y-3">
                                    <h3 class="text-white font-poppins font-semibold text-[26px] leading-[160%]">{{ .title | safeHTML }}
                                    </h3>
                                    <p class="text-slate-300 font-poppins text-lg leading-[160%]">{{ .details | safeHTML }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            <script>
                // onmouse offect 
                document.getElementById("valueCards").onmousemove = e => {
                  for (const card of document.getElementsByClassName("card")) {
                    const rect = card.getBoundingClientRect(),
                      x = e.clientX - rect.left,
                      y = e.clientY - rect.top;
        
                    card.style.setProperty("--mouse-x", `${x}px`);
                    card.style.setProperty("--mouse-y", `${y}px`);
                  };
                };
              </script>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>

{{ with .Params.form }}
{{ if .enable }}
<section id="form" class="bg-slate-100 dark:bg-main">
    <div class="container mx-auto px-5 sm:px-10 lg:px-16 pt-20">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-10 gap-x-7">
            {{ with .content }}
            <div class="space-y-7" data-aos="zoom-in">
                <div class="space-y-3">
                    <h3 class="text-black dark:text-white font-poppins font-semibold text-3xl">{{ .title | safeHTML
                        }}</h3>
                    <p class="text-slate-700 dark:text-slate-300 font-poppins text-lg">{{ .details | safeHTML }}</p>
                </div>
                <div class="space-y-4">
                    {{ with .location }}
                    <div class="flex items-center gap-3">
                        <img src='{{ "images/dev/location.svg" | relURL }}' alt="">
                        <p class="font-poppins text-lg text-slate-700 dark:text-slate-300">{{ . }}</p>
                    </div>
                    {{ end }}
                    {{ with .email }}
                    <div class="flex items-center gap-3">
                        <img src='{{ "images/dev/mail.svg" | relURL }}' alt="">
                        <p class="font-poppins text-lg text-slate-700 dark:text-slate-300">{{ . }}</p>
                    </div>
                    {{ end }}
                    {{ with .phone }}
                    <div class="flex items-center gap-3">
                        <img src='{{ "images/dev/phone.svg" | relURL }}' alt="">
                        <p class="font-poppins text-lg text-slate-700 dark:text-slate-300">{{ . }}</p>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
            {{ partial "form.html" . }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}
<div class="sm:-mt-40 relative z-10 bg-slate-100 dark:bg-main overflow-x-hidden">
    <img src='{{ "images/dev/bottom_layer.png" | relURL }}' alt="" class="container mx-auto w-full animated-img">
</div>
{{ end }}